$purple: #908AE2;
$black: #3F4147;
$pink: #FFB5C0;
$green: #7ED5C9;
$yellow: #f5de61;
$blue: #8AA3E2;
$white: #F5F4EF;
$light-purple: #b4b0e7;
$light-blue: #b0d1e7;
$dark-purple: #6661af;
$mid-purple: #6661af;
$very-dark-purple: #545092;
$super-dark-purple: #333157;